$primary: black;
$primary-opacity: rgba(0, 0, 0, 0.5);
$primary-light: #cfcfcf;
$primary-text-light: #8e8e8e;
$secondary: white;
$secondary-dark: #f5f5f5;
$contrast-color: #2ade72;
$contrast-color-opacity: rgba(8, 138, 60, 0.7);
$box-shadow: 0 0 5px $primary-opacity;
$box-shadow-hover: 0 2px 3px $contrast-color-opacity;
$alert: rgb(196, 49, 49);
